<img src="data6.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Welcome!

Welcome to the fourth lab!

# Lab 4 â€“ Functions Practice

## Data 6, Fall 2024

Welcome to the fourth lab section of Data 6!

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

In [ ]:
#Import necessary packages
from datascience import *
import numpy as np

<br/>

---

## Question 1: Fun with Functions!

Let's do some survey analysis! Implement a function that takes in a Table `table` and an integer `threshold`, and returns a Table with all the survey responses that spent longer than `threshold` minutes to fill out the survey.

In [ ]:
survey_responses = Table.read_table("survey_responses.csv")

In [ ]:
def filter_time(table, threshold):
    """
    Takes in a table and returns all the rows that spent longer than threshold minutes.

    Inputs:
    table: a Table that contains a column 'Time Taken (minutes)'
    threshold: an integer

    Returns:
    a Table with all the survey responses that spent longer than threshold minutes
    """

    #Your code here

In [ ]:
longer_than_ten = filter_time(survey_responses, 10)
longer_than_ten

<br/>

---

## Question 2: String Manipulation

Jedi wants one string of all of the `Student Name`s. Write a function that takes in a table and a column name, and concatenates together all of the names, separated by a parameter `separator`.

In [ ]:
def concatenate_names(tbl, separator, col_name):
    #Your code here

Now, call this function with the appropriate arguments.

In [ ]:
concatenated_survey_names = concatenate_names(...)
concatenated_survey_names

Reflect: What information did we lose when concatenating all the survey names together into one string?

In [ ]:
#Your answer here

---

## Question 3: Functions within functions.

Sometimes, we'll have helper functions to perform some subroutine for us so we can abstract away more low-level tasks. Finish this implementation of a function that adds a new column to a table that doubles, then squares all the values inside of column `col`.

In [ ]:
def add_doubled_squared_col(tbl, col):
    """Adds a new column called Updated_Values to tbl that doubles, then squares the values in col"""
    def double_squared(arr):
        """Takes in an array and returns a new array with the values doubled, then squared"""
        return ...
    return ...

In [ ]:
survey_with_modified_times = add_doubled_squared_col(survey_responses, "Time Taken (minutes)")
survey_with_modified_times

Now, re-implement the helper function without taking in any parameters.

In [ ]:
def add_doubled_squared_col(tbl, col):
    """Adds a new column called Updated_Values to tbl that doubles, then squares the values in col"""
    def double_squared():
        """Takes in nothing and returns a new array with the values doubled, then squared"""
        return ...
    return ...

In [ ]:
survey_with_modified_times = add_doubled_squared_col(survey_responses, "Time Taken (minutes)")
survey_with_modified_times

---

## Question 4: Understanding Error Messages

For each of the following buggy implementations, write what the issue is and fix the implementation.

In [ ]:
def triple(x):
    """Return the value of x, tripled"""
    x * 3

In [ ]:
a = 5
triple(a) #We expect this to evaluate to 15

Replace this text, noting what's wrong with this function implementation and then fix the bug.

In [ ]:
def quadruple(x):
    """Return the value of x, quadrupled"""
    True = x * 4
    return True

Replace this text, noting what's wrong with this function implementation and then fix the bug.

In [ ]:
def quintuple(x):
    x = x * 5
    return x

quintuple(4)
print(x) #Jedi expects x to be 20

Replace this text, noting what's wrong with Jedi's expectation. No need to fix the bug - the function implementation is correct!

<hr>

## Done! ðŸ˜‡

## Submission

> **Important: You must correctly assign the pages of your PDF after you submit to the correct gradescope assignment. If your pages are not correctly assigned and/or not in the correct PDF format by the deadline, we reserve the right to award no points for your written work.**

You can download the notebook as a PDF by clicking on `File -> Save and Export Notebook As... -> PDF`.