<img src="data6.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Welcome!

Welcome to the fourth lab!

# Lab 4 â€“ Functions Practice

## Data 6, Fall 2024

Welcome to the fourth lab section of Data 6!

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

In [2]:
#Import necessary packages
from datascience import *
import numpy as np

<br/>

---

## Question 1: Fun with Functions!

Let's do some survey analysis! Implement a function that takes in a Table `table` and an integer `threshold`, and returns a Table with all the survey responses that spent longer than `threshold` minutes to fill out the survey.

In [5]:
survey_responses = Table.read_table("survey_responses.csv")
woo = survey_responses.select(1)
sum(woo)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
def filter_time(table, lower_threshold, upper_threshold):
    """
    Takes in a table and returns all the rows that spent longer than threshold minutes.

    Inputs:
    table: a Table that contains a column 'Time Taken (minutes)'
    threshold: an integer

    Returns:
    a Table with all the survey responses that spent longer than threshold minutes
    """

    return table.where("Time Taken (minutes)", are.above(lower_threshold) and are.below(upper_threshold))

In [17]:
longer_than_ten = filter_time(survey_responses, 10, 20)
longer_than_ten

Student Name      | Response      | Time Taken (minutes)
Oski              | Meal          | 5
Bruin             | Ventriloquist | 6.5
Triton            | Ventriloquist | 15
LoFi Hip Hop Girl | Meal          | 1
Aurora            | Meal          | 12
Cascade           | Meal          | 3
River             | Meal          | 8
Aspen             | Ventriloquist | 14
Comet             | Meal          | 7
Galaxy            | Ventriloquist | 9.5
... (7 rows omitted)

<br/>

---

## Question 2: String Manipulation

Jedi wants one string of all of the `Student Name`s. Write a function that takes in a table and a column name, and concatenates together all of the names, separated by a parameter `separator`.

In [19]:
def concatenate_names(tbl, separator, col_name):
    """
    Inputs:
    tbl: a Table
    separator: a string
    col_name: a string

    Returns:
    a string with all the names concatenated together

    """
    return separator.join(tbl.column(col_name))

Now, call this function with the appropriate arguments.

In [22]:
concatenated_survey_names = concatenate_names(survey_responses, " ", "Student Name")
concatenated_survey_names

'Oski Bruin Triton LoFi Hip Hop Girl Jedi Aurora Phoenix Cascade River Aspen Comet Galaxy Nebula Echo Sierra Horizon Summit Zephyr Blaze Indigo'

Reflect: What information did we lose when concatenating all the survey names together into one string?

We lost information about what strings correspond to what names.

---

## Question 3: Functions within functions.

Sometimes, we'll have helper functions to perform some subroutine for us so we can abstract away more low-level tasks. Finish this implementation of a function that adds a new column to a table that doubles, then squares all the values inside of column `col`.

In [34]:
def add_doubled_squared_col(tbl, col):
    """Adds a new column called Updated_Values to tbl that doubles, then squares the values in col"""
    def double_squared(arr):
        """Takes in an array and returns a new array with the values doubled, then squared"""
        return (arr * 2) ** 2
    return tbl.with_column("Updated_Values", double_squared(tbl.column(col)))

In [35]:
survey_with_modified_times = add_doubled_squared_col(survey_responses, "Time Taken (minutes)")
survey_with_modified_times

Student Name      | Response      | Time Taken (minutes) | Updated_Values
Oski              | Meal          | 5                    | 100
Bruin             | Ventriloquist | 6.5                  | 169
Triton            | Ventriloquist | 15                   | 900
LoFi Hip Hop Girl | Meal          | 1                    | 4
Jedi              | Ventriloquist | 100                  | 40000
Aurora            | Meal          | 12                   | 576
Phoenix           | Ventriloquist | 20                   | 1600
Cascade           | Meal          | 3                    | 36
River             | Meal          | 8                    | 256
Aspen             | Ventriloquist | 14                   | 784
... (10 rows omitted)

Now, re-implement the helper function without taking in any parameters.

In [56]:
def add_doubled_squared_col(tbl, col):
    """Adds a new column called Updated_Values to tbl that doubles, then squares the values in col"""
    def double_squared():
        """Takes in nothing and returns a new array with the values doubled, then squared"""
        return (tbl.column(col) * 2) ** 2
    return tbl.with_column("Updated_Values", double_squared())


survey_responses.column("Student Name")

array(['Oski', 'Bruin', 'Triton', 'LoFi Hip Hop Girl', 'Jedi', 'Aurora',
       'Phoenix', 'Cascade', 'River', 'Aspen', 'Comet', 'Galaxy', 'Nebula',
       'Echo', 'Sierra', 'Horizon', 'Summit', 'Zephyr', 'Blaze', 'Indigo'],
      dtype='<U17')

In [39]:
survey_with_modified_times = add_doubled_squared_col(survey_responses, "Time Taken (minutes)")
survey_with_modified_times

Student Name      | Response      | Time Taken (minutes) | Updated_Values
Oski              | Meal          | 5                    | 100
Bruin             | Ventriloquist | 6.5                  | 169
Triton            | Ventriloquist | 15                   | 900
LoFi Hip Hop Girl | Meal          | 1                    | 4
Jedi              | Ventriloquist | 100                  | 40000
Aurora            | Meal          | 12                   | 576
Phoenix           | Ventriloquist | 20                   | 1600
Cascade           | Meal          | 3                    | 36
River             | Meal          | 8                    | 256
Aspen             | Ventriloquist | 14                   | 784
... (10 rows omitted)

---

## Question 4: Understanding Error Messages

For each of the following buggy implementations, write what the issue is and fix the implementation.

In [46]:
def triple(x):
    """Return the value of x, tripled"""
    return x * 3

In [47]:
a = 5
triple(a) #We expect this to evaluate to 15

15

We didn't have a return statement so it returned None.

In [52]:
def quadruple(x):
    """Return the value of x, quadrupled"""
    a = x * 4
    return a

We tried assigning x * 4 to a reserved keyword (in other words, a name we should not be re-assigning).

In [54]:
def quintuple(x):
    x = x * 5
    return x

x = quintuple(4)
print(x) #Jedi expects x to be 20

20

x only existed in the local frame when we called `quintuple`. we can instead assign the result of quintuple to some name so we can access it in the global frame.

<hr>

## Done! ðŸ˜‡

## Submission

> **Important: You must correctly assign the pages of your PDF after you submit to the correct gradescope assignment. If your pages are not correctly assigned and/or not in the correct PDF format by the deadline, we reserve the right to award no points for your written work.**

You can download the notebook as a PDF by clicking on `File -> Save and Export Notebook As... -> PDF`.