In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw02.ipynb")

<img src="data6.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Homework 2 â€“ Table Methods and Functions

## Data 6, Fall 2024

This homework is due on **Sunday, October 6th at 11:00 PM**.

You must submit the assignment to Gradescope. Submission instructions can be found at the bottom of this notebook. See the [syllabus](https://data6.org/fa24/syllabus/#late-policy-and-extensions) for our homework late submission policy.


While we encourage you to collaborate with your peers, directly copying solutions is not allowed. Please refer to our [syllabus](https://data6.org/fa24/syllabus) on Academic Honesty.
If you find yourself stuck on a problem, we recommend that you make a post on [Ed](https://edstem.org/us/courses/65093/discussion/) or attend [office hours](https://data6.org/fa24/schedule/).

In [ ]:
# Run this cell, don't change anything.
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("ggplot")
from ipywidgets import interact, IntSlider
import warnings
warnings.filterwarnings('ignore')

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 1: Tables

<br></br>
<hr style="border: 1px solid #fdb515;" />

## The Data

<img src = 'sfo.jpg' width = 600>

In this section, we'll look at airline data from San Francisco International Airport (SFO). The dataset was downloaded directly from [flysfo.com](https://data.sfgov.org/Transportation/Air-Traffic-Passenger-Statistics/rkru-6vcg), SFO's website. The dataset contains information about major airlines, their associated flight statistics, and other information related to their flights out of SFO.

<br></br>
<hr style="border: 1px solid #fdb515;" />


# Question 1 - Airlines

<br></br>

---
## Question 1a
Having gotten word of your newfound data science skills, the City of San Francisco tasks you with conducting data analysis on airline traffic out of San Francisco International Airport. To do so, they've given you a file containing relevant flight data. 

In the following cell, load the data contained in the `"sfo.csv"` file into the `sfo` table. You'll want to use one of the table methods found on the [Data 6 Python Reference](https://data6.org/fa24/reference/).

In [ ]:
sfo = ...
sfo

In [ ]:
grader.check("q1a")

---
## Question 1b

<img src="jetblue.png" width=300>

Now that you've loaded your data into the `sfo` table, it's time to conduct our analysis. The City of San Francisco wants you to first focus on **JetBlue Airways**.

Assign `num_passengers` to the **total number of passengers** on flights corresponding to **JetBlue Airways** in the `sfo` table. While you may approach this question any way you'd like, a recommended approach first starts by creating a new table containing *only* rows from the `sfo` table corresponding to `"JetBlue Airways"` as the `"Operating Airline"`.



*Hint*: Break up your work into multiple intermediary steps.

In [ ]:
jetblue = ...
num_passengers = ...
num_passengers

In [ ]:
grader.check("q1b")

---
## Question 1c

<img src="united.png" width=300>

Now, the City of San Francisco wants you to focus on **United Airlines**; they would like to know how many flights conducted by United Airrlines arrive in Europe. 

Assign `prop_europe` to the **proportion of flights** that **United Airlines** takes to Europe, as based on the information presented within the `sfo` table. You'll first want to create a intermediary table, `united`, which contains data corresponding to `"United Airlines"`.

In [ ]:
united = ...
prop_europe = ...
prop_europe

In [ ]:
grader.check("q1c")

---
## Question 1d

Let's continue our work with **United Airlines**, specifically looking at how **passenger counts** vary between successive years. In this question, we'll investigate two months: **July 2019** and **July 2020**.

Assign `july_2019_mean` to the **average number of passengers** on United Airlines flights in July 2019. Similarly, assign `july_2020_mean` to the **average number of passengers** on United Airlines flights in July 2020.

*Hint*: You can re-use the `united` table from the previous question.

In [ ]:
united = ...

july_2020_mean = ...
july_2019_mean = ...

# Don't change any code below this line
print(f"Average Passenger Count (July 2019): {round(july_2019_mean, 2)}")
print(f"Average Passenger Count (July 2020): {round(july_2020_mean, 2)}")

In [ ]:
grader.check("q1d")

---
## Question 1e

Let's go back and look at the "Activity Period" column of the `sfo` table. Currently, this column stores the year and month in the following format: YYYY-MM. For example, an activity period of 2005-07 represents July 2005. Let's store the Activity Period in a different format. Instead of storing dates as YYYY-MM, let's store it as MM/YYYY. For example, July 2005 would be stored as as 07/2005 instead of 2005-07.

Create a new column "Activity Period New" in `sfo` with the periods stored in MM/YYYY format.

In [ ]:
def replace_date_format(date):
    """Changes the date from YYYY-MM to MM/YYYY format.
    Inputs: 
    date: a String in YYYY-MM format
    Returns:
    a String in MM/YYYY format
    """
    year, month = ... 
    return ...

new_date_formats = ...
sfo = ...

In [ ]:
grader.check("q1e")

<!-- BEGIN QUESTION -->

---
## Question 1f

If you completed the previous question correctly, you'll notice that the two average values are **very different**. Explain the large difference in the average number of passengers between **July 2019** and **July 2020**. 

*Hint*: What major global event begun between these two dates?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 2: UC Berkeley Admissions

<br></br>
<hr style="border: 1px solid #fdb515;" />

## Understanding the data

In this part of the homework, we will ask and answer questions about UC Berkeley's undergraduate admissions numbers for the class that entered in Fall 2020. The data we'll work with in this question comes from [this public webpage](https://www.universityofcalifornia.edu/infocenter/admissions-source-school).

Run the cell below to load in our data as a table.

In [ ]:
schools = Table.read_table('enrollment.csv')
schools

Each row corresponds to a high school. For each high school, we have the following information:
- `'Name'`: The name of the high school. Note, this is not unique â€“ for instance, the top three rows of our table correspond to three different high schools all with the name `'ABRAHAM LINCOLN HIGH SCHOOL'`; one is in Los Angeles, one is in San Francisco, and one is in San Jose.
- `'City'`: The city in which the high school is. Note, only schools within the US have a valid `'City'` listed; international schools have a city of `'nan'`. (`'nan'` means "missing value".) 
- `'Region'`: The county in which the high school is if the high school is in California, or the state in which the high school is if the high school is elsewhere in the US (see `'ADLAI E STEVENSON HIGH SCHOOL'` above). Again, if the high school is not within the US, `'Region'` is `'nan'`.
- `'Applied'`: The number of students who applied to UC Berkeley from that high school for admission in Fall 2020.
- `'Admitted'`: The number of students who were admitted to UC Berkeley from that high school for admission in Fall 2020.
- `'Enrolled'`: The number of students who actually chose to attend UC Berkeley from that high school starting in Fall 2020.

**Note:** It's a good idea to have the [Python Reference Sheet](https://data6.org/fa24/reference/) open while working on the assignment in the event you have any questions.

You can also easily see the documentation for a function by either:
- typing the name of the function on a new line, followed by a `?`, and running the cell
- typing the name of the function anywhere in a code cell and hitting `Shift + Tab` on your keyboard

Try it out below! Just add a `?` to the end of the line.

In [ ]:
Table.where

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 2 â€“ Key Numbers

<br></br>

---
## Question 2a â€“ How many students were admitted?

Suppose we're interested in determining the number of students who *applied* to UC Berkeley. We can calculate that number by finding the sum of the `'Applied'` column in our dataset like so:

In [ ]:
# This is just an example
sum(schools.column('Applied'))

**Task**: Below, assign the variable `num_admitted` to an integer corresponding to the number of students who were *admitted* to UC Berkeley in our dataset.

_Hint_: Do something similar to the example above.

In [ ]:
num_admitted = ...
num_admitted

In [ ]:
grader.check("q2a")

---
## Question 2b â€“ What was the overall acceptance rate?

Below, assign the variable `overall_acceptance_rate` to a float corresponding to the proportion of students who applied to UC Berkeley that were admitted.

_Hint_: Use `num_admitted` along with the example that came right before it.

In [ ]:
overall_acceptance_rate = ...
overall_acceptance_rate

In [ ]:
grader.check("q2b")

<!-- BEGIN QUESTION -->

---
## Question 2c â€“ Wait... what?

In **Question 2a**, you computed the number of students that UC Berkeley admitted for enrollment in Fall 2020. Scroll back up to Question 2a to look at that number, and then come back to this question.

Strangely, this [news.berkeley.edu](https://news.berkeley.edu/2020/07/16/uc-berkeleys-push-for-more-diversity-shows-in-its-newly-admitted-class/) article from July 2020 states

> Overall, UC Berkeley admitted 14,668 students as freshmen in 2019 and 15,435 for fall 2020. The admit rate remains the same as last year, at 15%.

The number that you computed in **Question 2a** is much smaller than the 15,435 figure that this article provides. But both are official University of California sources. What's going on here?

In the cell below, write a short answer to the question "**Why is the number of admitted students in our dataset less than the true number of admitted students?**" To find your answer, go to the [UC site where we got this data from](https://www.universityofcalifornia.edu/infocenter/admissions-source-school) and look for the fine print under the table. You'll find that only schools with a certain number of applicants and admitted students are represented; **your answer must mention those specific thresholds as well as why you think they may have excluded schools who don't meet the thresholds from the dataset.**

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 3 â€“ Which Schools?

Now it's time to answer questions of the form "Which schools \_\_\_\_\_"? In order to proceed, you'll need to make sure you're familiar with selecting/dropping, table sorting, and element-wise array operations.

<br></br>

---
## Question 3a â€“ Removing columns

In this section, we're not going to worry about the city where each school is â€“ we'll look at cities in the next section. It'll be helpful to keep around the `'Region'` column just so that we can see at a glance if a school is in-state, domestic, or international. We also need it to tell apart the three `'ABRAHAM LINCOLN HIGH SCHOOL'`s!

**Task**: Assign `schools_stats` to a new table  that contains all of the columns in `schools` except for `'City'`. Hint: You should use the `drop` method here.

In [ ]:
schools_stats = ...
schools_stats

In [ ]:
grader.check("q3a")

---
## Question 3b â€“ Which school sent the most students?

The value in the `'Enrolled'` column for each high school is the number of students they sent to UC Berkeley.

Below, assign `feeders` to a table with the same columns as `schools_stats`, but with **only the 14 high schools who sent the most students to UC Berkeley**, sorted in descending order. The first five rows of your table should look like this:

| Name                         | Region        |   Applied |   Admitted |   Enrolled |
|-----------------------------:|--------------:|----------:|-----------:|-----------:|
| LOWELL HIGH SCHOOL           | San Francisco |       435 |        106 |         64 |
| IRVINGTON HIGH SCHOOL        | Alameda       |       248 |         63 |         47 |
| DOUGHERTY VALLEY HIGH SCHOOL | Contra Costa  |       430 |         78 |         39 |
| CANYON CREST ACADEMY         | San Diego     |       269 |         66 |         38 |
| PORTOLA HIGH SCHOOL          | Orange        |       175 |         57 |         30 |

_Hint_: Use the `sort` and `take` table methods

In [ ]:
feeders = ...
feeders.show()

In [ ]:
grader.check("q3b")

---
## Question 3c â€“ What was the acceptance rate of each school?

Right now we have the number of students who applied, were admitted, and actually enrolled from each school. We don't have the acceptance rate of students at each school, but we can easily figure that out using some array operations!

Below, assign `schools_stats_acc` to a table with the same four columns as `schools_stats` plus an additional fifth column. This fifth column should have the label `'Acceptance Rate'`, and its values should be the acceptance rates of each school, each as a decimal between 0 (no students were admitted) and 1 (all students were admitted).

There are several steps involved:
- First, create an array containing the acceptance rates for each school. This should be done in one line; remember that each column in a table is an array, and that if you divide two arrays, the division is performed element-wise (as we saw in Week 1).
- Then, use the `with_columns` method to add an `'Acceptance Rate'` column to `schools_stats`, using the array you just created. Store your result in the table `schools_stats_acc`. The `schools_stats` table should not change!
- **Note**: unlike in the previous question, you aren't supposed to sort or take the top 10.

The first few rows of your table should look like this:

| Name                        | Region        |   Applied |   Admitted |   Enrolled |   Acceptance Rate |
|----------------------------:|--------------:|----------:|-----------:|-----------:|------------------:|
| ABRAHAM LINCOLN HIGH SCHOOL | Los Angeles   |        17 |          6 |          3 |          0.352941 |
| ABRAHAM LINCOLN HIGH SCHOOL | San Francisco |       106 |         21 |         14 |          0.198113 |
| ABRAHAM LINCOLN HIGH SCHOOL | Santa Clara   |        48 |         10 |          4 |          0.208333 |
| ACADEMY OF THE CANYONS      | Los Angeles   |        45 |         15 |          6 |          0.333333 |
| ACADEMY-SAN FRAN @ MCATEER  | San Francisco |        19 |          8 |          5 |          0.421053 |

In [ ]:
acceptance_rates = ...
schools_stats_acc = ...
schools_stats_acc

In [ ]:
grader.check("q3c")

---
## Question 3d â€“ Which schools had the lowest and highest acceptance rate?

Now that we have a table, `schools_stats_acc`, containing the acceptance rate of each school, it's natural to ask which schools had the highest and lowest acceptance rates.

Your job below is to define two **arrays**:
- `top_5_acc`, which contains the **names** of the five schools with the highest acceptance rates, such that the first element of `top_5_acc` has the absolute highest acceptance rate, the second element has the second highest acceptance rate, and so on.
- `bottom_5_acc`, which contains the **names** of the five schools with the lowest acceptance rates, such that the first element of `bottom_5_acc` has the absolute lowest acceptance rate, the second element has the second lowest acceptance rate, and so on.

At some point, you'll need to sort `schools_stats_acc` by acceptance rate. However, how you choose to do that is up to you â€“ you could elect to sort it in both descending and ascending order, or you could just sort it once and be creative with how you use `.take` (which you will need to use regardless).

In [ ]:
...

top_5_acc = ...
bottom_5_acc = ...

# Don't change anything below this comment, it's just for visualization
print('Top 5 acceptance rates:')
for school in top_5_acc:
    print(school)

print('----------\nBottom 5 acceptance rates:')
for school in bottom_5_acc:
    print(school)

In [ ]:
grader.check("q3d")

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 4 â€“ Location

In the last question, we did not use the `'City'` column from `schools`. In this question, we'll bring that information back in. Here, we're going to heavily rely on the `.where` method and the various `are` predicates, so you may want to open the [`.are` documentation](http://data8.org/datascience/predicates.html?highlight=#datascience.predicates.are).

In this question you will use `schools_acc`, with the five original columns in `schools` plus `'Acceptance Rate'` from `schools_stats_acc`.

In [ ]:
# Just run this cell
schools_acc = schools.with_columns('Acceptance Rate', schools_stats_acc.column('Acceptance Rate'))
schools_acc

---
## Question 4a â€“ How many schools were in Los Angeles county?

Los Angeles is both the name of a city and a county, and counties correspond to regions in our dataset (at least for California high schools).

Below, assign `num_schools_lac` to the **number** of schools in our dataset that are from Los Angeles county.

_Hint: This involves using `.where` and `.num_rows`._

In [ ]:
num_schools_lac = ...
num_schools_lac

In [ ]:
grader.check("q4a")

---
## Question 4b â€“ How many students actually enrolled from schools in Los Angeles county?

Below, assign `num_students_lac` to the number of students who enrolled at UC Berkeley from high schools in Los Angeles county. This involves using `.where`.

*Note*: While our solution is only one line, yours doesn't have to be.

In [ ]:
num_students_lac = ...
num_students_lac

In [ ]:
grader.check("q4b")

---
## Question 4c â€“ Which schools in Los Angeles county sent the most students?

Below, assign `top_lac_schools` to a **table** with the same columns as `schools_acc`, but with **only the 10 high schools in Los Angeles county who sent the most students to UC Berkeley**, sorted in descending order. The first five rows of your table should look like this:

| Name                          | City             | Region      |   Applied |   Admitted |   Enrolled |   Acceptance Rate |
|------------------------------:|-----------------:|------------:|----------:|-----------:|-----------:|------------------:|
| PALISADES CHARTER HIGH SCHOOL | Pacific Palisade | Los Angeles |       221 |         46 |         26 |          0.208145 |
| ARCADIA HIGH SCHOOL           | Arcadia          | Los Angeles |       249 |         55 |         21 |          0.220884 |
| DIAMOND BAR HIGH SCHOOL       | Diamond Bar      | Los Angeles |       264 |         39 |         19 |          0.147727 |
| GRETCHEN WHITNEY HIGH SCHOOL  | Cerritos         | Los Angeles |        86 |         21 |         17 |          0.244186 |
| SANTA MONICA HIGH SCHOOL      | Santa Monica     | Los Angeles |       195 |         38 |         15 |          0.194872 |

*Note*: A high school *sends* a student to Berkeley when that student **enrolls** in the university.

In [ ]:
top_lac_schools = ...
top_lac_schools

In [ ]:
grader.check("q4c")

---
## Question 4d â€“ Which schools in Alameda county sent more than 20 students?

Below, assign `big_alameda` to a table containing all of the columns of `schools_acc`, but only the rows corresponding to schools in Alameda county that sent more than 20 students to Berkeley. Don't sort.

_Hint_: You can use `.where` multiple times if there are multiple conditions you want to be true; that's what you'll need to do here.

In [ ]:
big_alameda = ...
big_alameda

In [ ]:
grader.check("q4d")

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 5 â€“ Functions and Scope

Let's briefly go over user defined functions.

---
## Question 5a â€“ Scope

Assume we have the following function:

In [ ]:
y = "hello"

def foo(x):
    return y + x

Choose all completely accurate statements, and then make an array consisting of the corresponding numbers to `answer_5a` below to indicate your answer. 

1. The formal parameter to `foo` is x.

2. The argument to `foo` is x.

3. If we called `foo(3)`, we would get an error because we don't know what `y` is.

4. If we called `foo(3)`, we would get an error because you cannot concatenate a string and an integer.

5. If we called `foo(" world")`, we would get an error because we don't know what `y` is.

6. If we called `foo(" world")`, we would get an error because you cannot add strings together.

7. Trying to access `x` outside of `foo` would error.

Now, assume we have the following code:

In [ ]:
y = 1

def count(x):
    y = 2
    def chickens(number):
        return x * number
    return chickens(y)

8. `y` exists in the local frame

9. Assuming `count` is called, `y` exists in the local frame of the `count` function.

10. When we call `count`, the argument being passed into `chickens` is 1.

11. When we call `count`, the argument being passed into `chickens` is 2.

In [ ]:
"""Your answer should be in the format answer_5a = make_array(...),
where the argument to make_array is the number of all the accurate statements."""
answer_5a = ...

In [ ]:
grader.check("q5a")

---
## Question 5b â€“ Nested Functions are Dizzying

Now, assume we have the following code:

In [ ]:
y = 2

def foo(x):
    return y + x

What does the expression `foo(foo(3 + 4) + 3)` evaluate to? Remember, we start by evaluating the operator, then the operands.

In [ ]:
# Your answer should be in the format reason_5b = n, where n is some integer.

answer_5b = ...

In [ ]:
grader.check("q5b")

# Done!

Congrats! You've finished your second Data 6 homework assignment!

To submit your work, follow the steps outlined below. **Remember that for this homework in particular, some problems will be graded manually, rather than by the autograder.**

## Pets of Data 6
**Sunny** hopes you enjoyed Homework 2!

<img src="sunny.png" width="40%" alt="Orange cat sitting down on a bed."/>

## Submission

Below, you will see two cells. Running the first cell will automatically generate a PDF of all questions that need to be manually graded, and running the second cell will automatically generate a zip with your autograded answers. You are responsible for submitting both the coding portion (the zip) and the written portion (the PDF) to their respective Gradescope portals. **Please save before exporting!**

> **Important: You must correctly assign the pages of your PDF after you submit to the correct gradescope assignment. If your pages are not correctly assigned and/or not in the correct PDF format by the deadline, we reserve the right to award no points for your written work.**

If there are issues with automatically generating the PDF in the first cell, you can try downloading the notebook as a PDF by clicking on `File -> Save and Export Notebook As... -> PDF`. If that doesn't work either, you can manually take screenshots of your answers to the manually graded questions and submit those. Either way, **you are responsible for ensuring your submision follows our requirements, we will NOT be granting regrade requests for submissions that don't follow instructions.**

In [ ]:
from otter.export import export_notebook
from os import path
from IPython.display import display, HTML
name = 'hw02'
export_notebook(f"{name}.ipynb", filtering=True, pagebreaks=True)
if(path.exists(f'{name}.pdf')):
    display(HTML(f"Download your PDF <a href='{name}.pdf' download>here</a>."))
else:
    print("\n Pdf generation failed, please try the other methods described above")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)