In [54]:
# Initialize Otter
import otter
grader = otter.Notebook("lab01.ipynb")

<img src="data6.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Welcome!

Welcome to the second lab!

# Lab 2 â€“ Print Debugging, Array Operations, NumPy, Variables

## Data 6, Fall 2024

Welcome to the second lab section of Data 6!

First and foremost, labs are designed to complement homework assignments. While labs are submitted or graded, we encourage you to work through all questions carefully to familiarize yourself with key programming concepts that you will use later on in your homeworks. Remember, you learn data science by **_doing_** data science!

The goals of this lab section:
* Practice using print to debug code
* Practice array operations using the datascience module and the numpy library
* Practice identifying variables used in data science, and how we can operationalize them

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 1: Print

In [55]:
#Import necessary packages
from datascience import *
import numpy as np

<br/>

---

## Question 1: Print Practice


Given an array `arr`, write code that will display the first three values of arr without [hardcoding](https://en.wikipedia.org/wiki/Hard_coding#:~:text=Hard%20coding%20(also%20hard%2Dcoding,or%20generating%20it%20at%20runtime.) the values of what is being printed out.

For example, given an `arr` with the values [1, 3, 5, 7], we should see the following:

The first element of arr is: 1 <br/>
The second element of arr is: 3 <br/>
The third element of arr is: 5 <br/>

Hint: Recall [how we can obtain each element in a given array.](https://docs.google.com/presentation/d/1taeZTQoKYsHB8IKv-xxlSaQovcEZdDbjqFxjK9Dfz30/edit#slide=id.g13af39495d5_0_2616)

In [56]:
#Do not edit the following line of code
arr = make_array(1, 3, 5, 7)

#YOUR CODE HERE
print(...) #Prints the first item in arr
print(...) #Prints the second item in arr
print(...) #Prints the third item in arr

Ellipsis
Ellipsis
Ellipsis

<br/>

---

## Question 2: Printing Galore!!

Fill in the print statement below such that you see the following output exactly. You may only use **one** line to write the whole expression, and you may not use any newline characters (don't worry about what that means if you don't know yet).

4 3 'Woah!' <br/>
None 5 <br/>
None

In [57]:
#YOUR CODE HERE
print(...)

Ellipsis

---

## Question 3: Print Debugging

Let's do some print debugging! Below is some code used to calculate the price of some goods, but lucky us! We have a 10% discount. No need for a calculator -- we can whip out jupyter notebooks to do this calculation for us! However, something seems off. Use print statements to identify and fix the error.

In [58]:
# Prices of items in a shopping cart
item_prices = make_array(15.99, 23.49, 9.99, 5.49)

# Tax rate as a percentage
tax_rate = 8.25

# Discount to apply to the total as a percentage
discount = 10

# Calculate the total price of the items
total_price = sum(item_prices)

# Calculate the total price after tax
total_with_tax = total_price * tax_rate

# Apply the discount to the total price after tax
total_with_discount = total_with_tax - (total_with_tax * (discount / 100))

# Print out the final total
print("Total price of items:", total_price)
print("Total after tax:", total_with_tax)
print("Total after discount:", total_with_discount)

Total price of items: 54.96
Total after tax: 453.42
Total after discount: 408.078


<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 2: Working with Arrays Within a Data Science Context

Jedi is collecting survey data from the Fall 2024 Data 6 students, and asked the following question:

1. You have the choice of two powers: The first power lets you know the best tasting meal that someone has ever had when you shake their hand (or if you cannot shake hands for some reason, some other similar interaction). The second power lets you speak through any electronic speaker in sight range, e.g. laptop speakers, grocery store intercoms, etc. You may resolve precise questions about how these powers work in any way that seems reasonable to you. Which would you choose?

The two options for this question were:
I would like to be able to divine some
delicious meals, please. </br>
I prefer being an electronic speaker
ventriloquist.

He also tracks the amount of time taken to complete the survey (don't worry, we didn't actually do this).

The dataset is shown below for the first 5 students:

| Student Name | Response | Time Taken (minutes) |
| :--- | :---- | :---- |
| Oski | Meal | 5 | 
| Bruin | Ventriloquist | 6.5 |
| Triton| Ventriloquist | 15 |
| LoFi Hip Hop Girl | Meal | 1 |
| Jedi| Ventriloquist | 100 |

In [59]:
survey_data = Table.read_table("survey_responses.csv") #Read in the full data
responses = survey_data['Response'] #Return an array with the responses
time_taken = survey_data['Time Taken (minutes)'] #Return an array with the response times

In [60]:
#Notice that the type of survey_data is a Table. Something new!
print(type(survey_data))

<class 'datascience.tables.Table'>

---

## Question 4: Survey Analysis

Jedi decides to do some analysis: first, how much time (in minutes) does the average student take to complete the survey? Fill in the code below to perform this computation

In [62]:
average_time_minutes = ... #YOUR CODE HERE
average_time_minutes

Ellipsis

---

## Question 5: Converting to Seconds

Shoot. The resulting value is a float, but it's difficult to process minutes as decimal values. Compute the average time (in seconds) the average student takes to complete the survey. Round to the nearest second.

Hint: There's a built-in function called `round`. More documentation [here!](https://www.w3schools.com/python/ref_func_round.asp)

In [63]:
average_time_seconds = ...
average_time_seconds

Ellipsis

---

## Question 6

In the study above, what type of variables (picking between categorical and numerical) are used to represent the choice of superpower? What about the time in minutes?

YOUR ANSWER HERE

---

## Question 7

Jedi decides to sort all of the responses by the time_taken, and add a new column `Ordering` to track their order. For instance, in the first 5 rows of the dataset, Lofi Hip Hop girl should have the value 0 since she took the least time filling out the survey.

First, write some code to retrieve the least amount of time spent on the survey.

In [64]:
least_amount_of_time = ... #YOUR CODE HERE

least_amount_of_time

Ellipsis

Next, write some code to fill in the new column that's being created. We've already sorted the data for you!

Hint: len(sorted_data) will return the number of columns in sorted_data. Try to find another way of computing the number of rows.

In [65]:
sorted_data = survey_data.sort(time_taken)
sorted_data['Ordering'] = ... #YOUR CODE HERE

sorted_data

Student Name      | Response      | Time Taken (minutes) | Ordering
LoFi Hip Hop Girl | Meal          | 1                    | Ellipsis
Summit            | Meal          | 2                    | Ellipsis
Cascade           | Meal          | 3                    | Ellipsis
Nebula            | Meal          | 4                    | Ellipsis
Oski              | Meal          | 5                    | Ellipsis
Indigo            | Ventriloquist | 5                    | Ellipsis
Sierra            | Meal          | 6                    | Ellipsis
Bruin             | Ventriloquist | 6.5                  | Ellipsis
Comet             | Meal          | 7                    | Ellipsis
River             | Meal          | 8                    | Ellipsis
... (10 rows omitted)

grader.check("q_7_a")

grader.check("q_7_b")

<hr>

## Done! ðŸ˜‡

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)