In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("hw04.ipynb")

<img src="data6.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Homework 4 – Control, Iteration, and Strings

## Data 6, Fall 2024

In this homework assignment, you will apply what you've learned about `if`-statements, `while` loops, string manipulation, and `for` loops.

This homework is due on **Thursday, November 14th at 11:00PM**. You must submit the assignment to Gradescope. Submission instructions can be found at the bottom of this notebook.

In [3]:
from datascience import *
import numpy as np
from IPython.display import YouTubeVideo, HTML, display
from ipywidgets import interact, widgets

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


# Part 1: Control Flow

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 1 – Short-Circuit

Your friend Lisa has defined the function `some_equal`, which takes in three arguments, `a`, `b`, and `c`. Lisa wants `some_equal` to return `True` if *at least two* of `a`, `b`, and `c` are equal to one another, and `False` otherwise; her implementation is defined in the following cell:

In [4]:
def some_equal(a, b, c):
    return a == b or b == c or a == c or 1/0

Sometimes, `some_equal` works:

In [5]:
some_equal('hey', 'hi', 'hey')

True

In [6]:
some_equal(3, 3, 3)

True

But other times...

In [7]:
some_equal(1, 2, 4)

ZeroDivisionError: division by zero

<!-- BEGIN QUESTION -->

Jedi shows you his code and asks:
> "Why don't I get a `division by zero` error in the first two examples?"

_Hint_: Think about "short circuiting" in python.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 2 – Death and Taxes

The United States, like many countries, uses a progressive tax bracket system. This means that as your earnings increase, the percentage of your earnings you owe in tax also increases. In addition, the US tax system uses marginal tax brackets – meaning taxpayers pay different tax percentages on different "chunks" of their earnings.

Suppose the tax brackets for the 2023 tax year are defined by the table below. This is close to the actual bracket structure, but for simplicity, we'll use 4 brackets instead of 7.

| Tax Rate | Taxable Income                |
|----------|--------------------------------|
| 10\%      | \$0 \to \$11,000                  |
| 12\%      | \$11,001 \to \$44,725             |
| 22\%      | \$44,726 \to \$95,375             |
| 24\%      | \$95,376 or more                |

**You will need to use these numbers throughout this question.**



**Notes:**
- All incomes are integers. 
- "Taxable Income" refers to the part of one's income that is taxable. In the US, there is a "standard deduction," which can be thought of as a discount on your taxes. In this assignment, we won't worry about deductions.

If someone has a taxable income of 60,000, they are in the 22\% tax bracket. However, such an individual doesn't owe 22 percent of \$60,000 in taxes. Instead, they owe:
- 10\% of \$11,000, **plus**
- 12\% of \$33,725 (\$44,725 - \$11,000), **plus**
- 22\% of \$15,275 (\$60,000 - \$44,725)

for a total of \$8,507.50 (`0.1 * 11,000 + 0.12 * 33,725 + 0.22 * 15,275 = 8,507.50`). This makes their effective tax rate $\frac{8507.50}{60000} \approx 0.1418$, or about 14.18%.


If you want to read more about the US federal income tax system, click [here](https://www.taxpolicycenter.org/briefing-book/how-do-federal-income-tax-rates-work).

---
## Question 2a

Complete the implementation of the function `tax_bracket`, which takes in a taxable income as a number (`income`) and returns the tax bracket (as a decimal) it is in. For instance, `tax_bracket(60000)` should evaluate to `0.22` and `tax_bracket(402150)` should evaluate to `0.24`.

_Hint_: Use what you know about `if-elif-else` blocks to your advantage!

In [ ]:
def tax_bracket(income):
    if ...:
        ...
    elif ...:
        ...
    elif:
        ...
    else:
    ...

In [ ]:
grader.check("q2a")

---
## Question 2b

Complete the implementation of `tax_owed`, which takes in a taxable income (`income`) and returns the amount of tax owed by an individual with that taxable income. For instance, `tax_owed(60000)` should evaluate to `8507.5`.

**Note**: The code you write for this question might get a little long – but that's okay! Take it one step at a time.

For your convenience, here's the tax bracket table again:

| Tax Rate | Taxable Income                |
|----------|--------------------------------|
| 10\%      | \$0 \to \$11,000                  |
| 12\%      | \$11,001 \to \$44,725             |
| 22\%      | \$44,726 \to \$95,375             |
| 24\%      | \$95,376 or more                |

In [ ]:
def tax_owed(income):
    if ...:
        ...
    elif ...:
        ...
    elif:
        ...
    else:
    ...

In [ ]:
grader.check("q2b")

---
## Question 2c

Finally, complete the implementation of `effective_tax_rate`, which takes in a taxable income (`income`) and returns the effective tax rate for an individual with that taxable income, as a decimal. For instance, `effective_tax_rate(60000)` should evaluate to approximately `0.149833`.

*Note*: If `income` is 0, your `effective_tax_rate` function should also return 0. Make sure you handle this case in your function!

_Hint_: You should use your `tax_owed` function. Our entire solution is only three lines, but you may use more than that if necessary.

In [ ]:
def effective_tax_rate(income):
    ...

In [ ]:
grader.check("q2c")

---
## Fun Demo

You just did all of the math necessary to build an income tax calculator, like the ones you see on many financial websites. Run the following cell once you've completed the rest of this question!

In [ ]:
# Don't worry about the code, just play with the slider that appears after running.
def plot_income_calculator(income):
    s = f'''
    <div style="font-family: Arial, sans-serif; text-align: center;">
        <div style="margin-bottom: 20px;">
            <h1 style="font-size: 36px; color: #80B2D9;">${'{:,.2f}'.format(income)}</h1>
            <h3 style="color: #6c757d;">Taxable Income</h3>
        </div>
        
        <div style="margin-bottom: 20px;">
            <h1 style="font-size: 36px; color: #AAE895;">${'{:,.2f}'.format(tax_owed(income))}</h1>
            <h3 style="color: #6c757d;">Tax Owed</h3>
        </div>
        
        <div>
            <h1 style="font-size: 36px; color: #F99D81;">{'{:,.1f}'.format((100 * effective_tax_rate(income))) + '%'}</h1>
            <h3 style="color: #6c757d;">Effective Tax Rate</h3>
        </div>
    </div>
    '''
    
    display(HTML(s))
    
interact(plot_income_calculator, income=widgets.IntSlider(min=0, max=200000, step=500, value=100000));

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 2: `for` Loops

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 3 – For Loop Fundamentals 

In this problem, you will practice writing for loops. For reference, the function `sum_first_n` defined below computes the sum of the first `n` positive integers.

In [ ]:
# Run this cell!
def sum_first_n(n):
    total = 0
    for i in np.arange(1, n + 1):
        total = total + i
    return total

In [ ]:
# 1 + 2 + 3
sum_first_n(3)

In [ ]:
# 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
sum_first_n(10)

---
## Question 3a

Complete the implementation of the function `sum_first_n_cubes`, which takes in an integer `n` and returns the sum of the cubes of the first `n` positive integers. Example behavior is shown below. The code next to `>>>` is an example function call, and the following line is the desired output of that function call.

```python
>>> sum_first_n_squares(3) 
14 # 1^3 + 2^3 + 3^3

>>> sum_first_n_squares(10)
385 # 1^3 + 2^3 + 3^3 + ... + 9^3 + 10^3
```
*Hint*: Start with the example for loop given above; you should not have to modify much.

In [ ]:
def sum_first_n_cubes(n):
    ...

In [ ]:
grader.check("q3a")

---
## Question 3b

Complete the implementation of the function `alternating_product`, which takes in an array of numbers `values` and returns the product of every third in `values`, starting with element `0`. Example behavior is shown below.

```py
>>> alternating_product(make_array(2, 8.5, 1, 9))
18 # 2 * 9

>>> alternating_product(make_array(2, 8.5, 9, 4.5, 1))
9.0 # 2 * 4.5
```

*Hint*: Review how `np.arange` works – in particular, `np.arange(start, stop, step)`.

In [ ]:
def alternating_product(values):
    ...

In [ ]:
grader.check("q3b")

---
## Question 3c

Complete the implementation of the function `only_uppercase`, which takes in a string `s` and returns a new string containing only the uppercase characters in `s`. Example behavior is shown below.

```py
>>> only_uppercase('University of California, BerkelEY')
'UCBEY'

>>> only_uppercase('now THiS!')
'THS'
```

*Hint*: Use `.isupper()` on each character individually. Confused about what `.isupper()` will do? Try checking its documentation by Googling the function name.

In [ ]:
def only_uppercase(s):
    output = ''
    for char in s:
        ...
    return output

In [ ]:
grader.check("q3c")

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 4 – Billboard Charts 📈

Run the cell below to load in data from the Billboard charts in the 2010s. If you're unfamiliar with the *Billboard Top 100*, you can read about the chart [here](https://www.billboard.com/charts/).

In [8]:
# Run this cell!
billboard = Table.read_table('billboard-2010.csv')
billboard

Artists                   | Name               | Weekly.rank | Peak.position | Weeks.on.chart | Week       | Date               | Genre                                                        | Features
Lil Nas,                  | Old Town Road      | 1           | 1             | 7              | 2019-07-06 | April 5, 2019      | Country,Atlanta,Alternative Country,Hip-Hop,Trap,Memes,R ... | Billy Ray Cyrus
Billie Eilish             | Bad Guy            | 3           | 2             | 13             | 2019-07-06 | March 29, 2019     | Hip-Hop,Dark Pop,House,Trap,Memes,Alternative Dance,Alte ... | nan
Khalid                    | Talk               | 4           | 3             | 20             | 2019-07-06 | February 7, 2019   | Synth-Pop,Pop                                                | nan
Ed Sheeran, Justin Bieber | I Don't Care       | 5           | 2             | 7              | 2019-07-06 | May 10, 2019       | Canada,UK,Dance,Dance-Pop,Pop                                | nan
Jonas Brothers            | Sucker             | 6           | 1             | 17             | 2019-07-06 | March 1, 2019      | Alternative Pop,Boy Band,Teen Pop,Pop-Rock,Pop               | nan
DaBaby                    | Suge               | 7           | 7             | 13             | 2019-07-06 | March 1, 2019      | Trap,East Coast,Rap                                          | nan
Drake                     | Money In The Grave | 8           | 7             | 2              | 2019-07-06 | June 15, 2019      | Hip-Hop,Rap,Basketball,NBA,Canada                            | Rick Ross
Chris Brown               | No Guidance        | 9           | 9             | 3              | 2019-07-06 | June 8, 2019       | Alternative R&;B,Hip-Hop,Rap,Pop,DMV,Canada,R&;B             | Drake
Post Malone               | Wow.               | 10          | 2             | 27             | 2019-07-06 | December 24, 2018  | Memes,Hip-Hop,Trap,Rap                                       | nan
Lizzo                     | Truth Hurts        | 11          | 11            | 8              | 2019-07-06 | September 19, 2017 | Pop,Rap                                                      | nan
... (40416 rows omitted)

Artists and fans alike like to keep track of the most consecutive weeks a song has been ranked #1 on the Billboard 200. For example, run the cell below to look at data regarding Drake's hit "One Dance" from 2016:

In [9]:
# Run this cell!
billboard.where('Name', 'One Dance').select('Artists', 'Name', 'Week', 'Weekly.rank').sort('Week').show(15)

According to the above table, it seems like One Dance was ranked #1 for 9 consecutive weeks at one point – pretty impressive!

---
## Question 4a
Below, complete the implementation of the function `one_streak`, which takes in an array `charts` representing the position of a song in the Billboard 200 over several consecutive weeks and returns the most consecutive weeks that song was ranked **#1.** Example behavior is shown below.

```py
>>> one_streak(make_array(13, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 5, 7, 8))
9

>>> one_streak(make_array(4, 1, 1, 1, 2, 3, 11, 1, 1, 1, 1, 1))
5

>>> one_streak(make_array(5, 4, 1, 1, 1, 3, 2, 1, 2, 3))
3
```

In [10]:
def one_streak(charts):
    longest = ...
    current = ...
    for num in charts:
        if num == 1:
            current = ...
        else:
            longest = ...
            current = ...

    # Ask yourself – why are we returning max(longest, current) instead of just current?
    return max(longest, current)

In [11]:
grader.check("q4a")

q4a results:
    q4a - 1 result:
        ✅ Test case passed

    q4a - 2 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array(13, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 5, 7, 8)) == 9
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 1
        Failed example:
            one_streak(make_array(13, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 5, 7, 8)) == 9
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 1[0]>", line 1, in <module>
                one_streak(make_array(13, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 2, 5, 7, 8)) == 9
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

    q4a - 3 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array(4, 1, 1, 1, 2, 3, 11, 1, 1, 1, 1, 1)) == 5
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 2
        Failed example:
            one_streak(make_array(4, 1, 1, 1, 2, 3, 11, 1, 1, 1, 1, 1)) == 5
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 2[0]>", line 1, in <module>
                one_streak(make_array(4, 1, 1, 1, 2, 3, 11, 1, 1, 1, 1, 1)) == 5
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

    q4a - 4 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array(5, 4, 1, 1, 1, 3, 2, 1, 2, 3)) == 3
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 3
        Failed example:
            one_streak(make_array(5, 4, 1, 1, 1, 3, 2, 1, 2, 3)) == 3
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 3[0]>", line 1, in <module>
                one_streak(make_array(5, 4, 1, 1, 1, 3, 2, 1, 2, 3)) == 3
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

    q4a - 5 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array(1, 2, 3, 4, 5)) == 1
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 4
        Failed example:
            one_streak(make_array(1, 2, 3, 4, 5)) == 1
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 4[0]>", line 1, in <module>
                one_streak(make_array(1, 2, 3, 4, 5)) == 1
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

    q4a - 6 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array(3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)) == 0
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 5
        Failed example:
            one_streak(make_array(3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)) == 0
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 5[0]>", line 1, in <module>
                one_streak(make_array(3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 7)) == 0
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

    q4a - 7 result:
        ❌ Test case failed
        Trying:
            one_streak(make_array()) == 0
        Expecting:
            True
        **********************************************************************
        Line 1, in q4a 6
        Failed example:
            one_streak(make_array()) == 0
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4a 6[0]>", line 1, in <module>
                one_streak(make_array()) == 0
                ^^^^^^^^^^^^^^^^^^^^^^^^
              File "/tmp/ipykernel_86/1790042463.py", line 12, in one_streak
                return max(longest, current)
                       ^^^^^^^^^^^^^^^^^^^^^
            TypeError: '>' not supported between instances of 'ellipsis' and 'ellipsis'

---
## Question 4b

Now that you've successfully defined the `one_streak` function, it's time to put it to use! In the following cell, assign `feeling_streak` to the most consecutive weeks that **I Gotta Feeling by the Black Eye Peas** was ranked #1 on the *Billboard Hot 100*.

*Hint*: You'll need to use the `billboard` table.

In [12]:
feeling_array = ...
feeling_streak = ...
feeling_streak

Ellipsis

In [13]:
grader.check("q4b")

q4b results:
    q4b - 1 result:
        ❌ Test case failed
        Trying:
            type(feeling_streak) in set([int, np.int32, np.int64])
        Expecting:
            True
        **********************************************************************
        Line 1, in q4b 0
        Failed example:
            type(feeling_streak) in set([int, np.int32, np.int64])
        Expected:
            True
        Got:
            False

    q4b - 2 result:
        ❌ Test case failed
        Trying:
            feeling_streak == 14
        Expecting:
            True
        **********************************************************************
        Line 1, in q4b 1
        Failed example:
            feeling_streak == 14
        Expected:
            True
        Got:
            False

---
## Question 4c

Now, using what you have learned up to this point, find the longest artist streak, meaning the longest streak in which the artist has held the $\#1$ spot, for the artist who spent the most weeks with a song ranked $\#1$ in the `billboard` table. 

**Assign that value to `top_artist_streak` and assign the name of the Artist to `top_ranked_artist`**. You may use as many lines as you'd like.


This question may be challenging, but remember to chunk it into smaller pieces and use the [reference sheet](https://data6.org/fa24/reference) when you need it.

*Hint*: You'll need to use multiple methods for this question

In [14]:
...
top_ranked_artist = ...
...
top_artist_streak = ...

In [15]:
grader.check("q4c")

q4c results:
    q4c - 1 result:
        ❌ Test case failed
        Trying:
            type(top_ranked_artist) == str
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 0
        Failed example:
            type(top_ranked_artist) == str
        Expected:
            True
        Got:
            False

    q4c - 2 result:
        ❌ Test case failed
        Trying:
            "Adele" <= top_ranked_artist <= "Usher"
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 1
        Failed example:
            "Adele" <= top_ranked_artist <= "Usher"
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4c 1[0]>", line 1, in <module>
                "Adele" <= top_ranked_artist <= "Usher"
            TypeError: '<=' not supported between instances of 'str' and 'ellipsis'

    q4c - 3 result:
        ❌ Test case failed
        Trying:
            type(top_artist_streak) in set([int, np.int32, np.int64])
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 2
        Failed example:
            type(top_artist_streak) in set([int, np.int32, np.int64])
        Expected:
            True
        Got:
            False

    q4c - 4 result:
        ❌ Test case failed
        Trying:
            10 <= top_artist_streak <= 40
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 3
        Failed example:
            10 <= top_artist_streak <= 40
        Exception raised:
            Traceback (most recent call last):
              File "/srv/conda/lib/python3.11/doctest.py", line 1355, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q4c 3[0]>", line 1, in <module>
                10 <= top_artist_streak <= 40
            TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

    q4c - 5 result:
        ❌ Test case failed
        Trying:
            top_ranked_artist == "Drake"
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 4
        Failed example:
            top_ranked_artist == "Drake"
        Expected:
            True
        Got:
            False

    q4c - 6 result:
        ❌ Test case failed
        Trying:
            top_artist_streak == 15
        Expecting:
            True
        **********************************************************************
        Line 1, in q4c 5
        Failed example:
            top_artist_streak == 15
        Expected:
            True
        Got:
            False

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 3: `while` Loops

<br></br>
<hr style="border: 1px solid #fdb515;" />

# Question 5 – Secrets!

We have some secret function that takes in a value `x`. Find the smallest positive integer x that results in `secret` returning True, and store it in the variable `answer1`. Then, find the smallest number that is a power of 2 (e.g. 1, 2, 4, 8, ...) that results in `secret` returning True, and store it in the variable `answer2`.

In [16]:
import hashlib

def secret(x):
    x_hash = int(hashlib.sha256(str(x).encode()).hexdigest(), 16)
    return (x_hash % 997) == 42

In [ ]:
grader.check("q5")

# Done!

Congrats!

The point breakdown for this assignment is given in the table below:

| **Category** | Points |
| --- | --- |
| Autograder | 28 |
| Written  | 2 |
| **Total** | 30 |

## Pets of Data 6
Haeley says congrats on finishing homework 4!

<img src="haeley.jpeg" width="50%" alt="A gray cat staring at the camera."/>

## Submission

Below, you will see two cells. Running the first cell will automatically generate a PDF of all questions that need to be manually graded, and running the second cell will automatically generate a zip with your autograded answers. You are responsible for submitting both the coding portion (the zip) and the written portion (the PDF) to their respective Gradescope portals. **Please save before exporting!**

> **Important: You must correctly assign the pages of your PDF after you submit to the correct gradescope assignment. If your pages are not correctly assigned and/or not in the correct PDF format by the deadline, we reserve the right to award no points for your written work.**

If there are issues with automatically generating the PDF in the first cell, you can try downloading the notebook as a PDF by colicking on `File -> Save and Export Notebook As... -> PDF`. If that doesn't work either, you can manually take screenshots of your answers to the manually graded questions and submit those. Either way, **you are responsible for ensuring your submision follows our requirements, we will NOT be granting regrade requests for submissions that don't follow instructions.**

In [ ]:
from otter.export import export_notebook
from os import path
from IPython.display import display, HTML
name = 'hw04'
export_notebook(f"{name}.ipynb", filtering=True, pagebreaks=True)
if(path.exists(f'{name}.pdf')):
    display(HTML(f"Download your PDF <a href='{name}.pdf' download>here</a>."))
else:
    print("\n Pdf generation failed, please try the other methods described above")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)